SALE PREDICTION/flows.json
[{"id":"89d70b47.759a08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8dd5e3e1.b17a1","type":"inject","z":"89d70b47.759a08","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["79a628fb.cfdec8"]]},{"id":"79a628fb.cfdec8","type":"debug","z":"89d70b47.759a08","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"9cdc9ed1.c1833","type":"template","z":"89d70b47.759a08","name":"Home page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\"\n        integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n    <title></title>\n</head>\n\n<body>\n    \n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>\n\n    <div>\n       \n\n         \n       \n<nav class=\"navbar navbar-expand-md \">\n            <ul class=\"nav navbar-nav ml-auto\">\n                <li class=\"nav-item\">\n                    <button type=\"button\" id=\"btn\" class=\"btn\"><a href=\"https://docs.google.com/spreadsheets/d/1V7XqLnORKSNctXb-NCWIE8AlOgLsZzUS4LuAIzqCN_A/edit#gid=818340009\">\n           View Customer Orders</a></button>\n                </li>\n                <li class=\"nav-item\">\n                     <button type=\"button\" id=\"btn\" class=\"btn\"><a href=\"https://docs.google.com/spreadsheets/d/1P7cyww0IXCzO3YVueExq1Osv0DdPSl6tXdHG5njdh4w/edit#gid=281329822\">\n           View Bulk Orders</a></button>\n                </li>\n                \n </br> </br>\n </br> </br>\n            \n            </ul>\n        </nav>\n        \n        <div class=\"center\">\n            </br>\n            <h1>Warehouse Management System</h1>\n            </br>\n\n            <h5>Sales Prediction System that optimizes your Warehouse Management</h5>\n            </br>\n            </br>\n           \n            <button type=\"button\" id=\"btn1\" class=\"btn\"><a href=\"https://node-red-mcsnx.eu-gb.mybluemix.net/learn_more\">\n            Get Started Now</a></button>\n            <button type=\"button\" id=\"btn1\" class=\"btn\"><a href=\"https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=0de8b90c-5f9e-44a0-90e6-9d12af16d8a4&serviceInstanceID=e0da9f85-6e08-4bbe-8eca-1d860a8fa17d\">\n            Talk with our Chatbot</a></button>\n              <button type=\"button\" id=\"btn1\" class=\"btn\"><a href=\"https://forms.gle/2KzbjrNoJZrqM2wz7\">\n           Click Here To Place Order</a></button>\n            <button type=\"button\" id=\"btn1\" class=\"btn\"><a href=\"https://node-red-mcsnx.eu-gb.mybluemix.net/excel\">\n            View Products</a></button>\n               </br>  </br>\n         \n             <button type=\"button\" id=\"btn1\" class=\"btn\"><a href=\"https://forms.gle/jEBryBiVWD8Hb8Wj6\">\n           Click Here for placing Bulk Orders</a></button>\n           \n            </br>\n            </br>\n            </br>\n\n            </br>\n            </br>\n            </br>\n            </br>\n            \n\n\n\n\n            <img class=\"graph\" src=\"https://s3.amazonaws.com/mentoring.redesign/s3fs-public/sales_going_up.jpg\"></img>\n        </br>\n        </br>\n\n        </br>\n        </br>\n        </br>\n\n        </div>\n        <div class=\"container\">\n            <div class=\"row\">\n                <div class=\"col-md-6\"><img class=\"graph1\" \n                        src=\"https://d1m75rqqgidzqn.cloudfront.net/wp-data/2020/02/03180635/sales-forecasting-with-machine-learning.jpg\"\n                        class=\"img1\"></div>\n\n                <div class=\"col-md-6\"></br></br>\n                    <h4>Solution to replenish majority of the  raw material along with procurement planning of perishable goods by sale prediction through Optimized Warehouse Management System for a Food Delivery Company.Our Warehouse Mangement Program gives you the  predicted demand of goods for the next 10 weeks or in the future .\n                        </h4>\n                </div>\n            </div>\n        </div>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n\n\n\n    </div>\n\n</body>\n\n<style>\n    \n      .graph1{\n        width: 100%;\n        border-radius: 15px;\n    }\n    .graph{\n        width: 50%;\n        height: 50%;\n        border-radius: 15px;\n        opacity: 0.6;\n    }\n    .logo{\n        margin-left: 50px;\n        background-image: none;\n        width: 50%;\n    }\n    .img1 {\n        width: 100%\n    }\n    a{\n        color: white;\n    }\n\n    #btn1 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n        font-color:white;\n\n\n\n    }\n\n    #btn2 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n\n    }\n\n    h4 {\n        text-align: right;\n    }\n\n    .btn {\n        color: white;\n        border-width: 2px;\n    }\n\n    .btn:hover {\n        color: white;\n    }\n\n    body {\n        background-image: url(\"https://i.ya-webdesign.com/images/abstract-wave-png-3.png\");\n        background-color: white;\n        width: 100%;\n        height: auto;\n        background-repeat: no-repeat;\n        background-size: cover;\n        font-family: serif;\n    }\n\n    .center {\n        align-items: center;\n        color: white;\n        font-family: serif;\n        text-align: center;\n    }\n\n    h1 {\n        font-family: sans-serif;\n        font-weight: bold;\n        align: center;\n    }\n\n    h5 {\n        font-family: sans-serif;\n    }\n\n    .nav-link {\n        color: white;\n\n        font-family: serif;\n    }\n\n    .seoimg {\n        height: 50px;\n    }\n\n    .topnav {}\n\n    background-color: #333;\n    overflow: hidden;\n    }\n\n    /* Style the links inside the navigation bar */\n    .topnav a {\n        float: right;\n        display: block;\n        color: black;\n        text-align: center;\n        padding: 14px 16px;\n        text-decoration: none;\n        font-size: 17px;\n    }\n\n    /* Add an active class to highlight the current page */\n    .active {\n        background-color: #4CAF50;\n        color: white;\n    }\n\n    /* Hide the link that should open and close the topnav on small screens */\n    .topnav .icon {\n        display: none;\n    }\n\n    /* Dropdown container - needed to position the dropdown content */\n    .dropdown {\n        float: right;\n        overflow: hidden;\n    }\n\n    /* Style the dropdown button to fit inside the topnav */\n    .dropdown .dropbtn {\n        font-size: 17px;\n        border: none;\n        outline: none;\n        color: white;\n        padding: 14px 16px;\n        background-color: inherit;\n        font-family: inherit;\n        margin: 0;\n    }\n\n    /* Style the dropdown content (hidden by default) */\n    .dropdown-content {\n        display: none;\n        position: absolute;\n        background-color: #f9f9f9;\n        min-width: 160px;\n        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);\n        z-index: 1;\n    }\n\n    /* Style the links inside the dropdown */\n    .dropdown-content a {\n        float: none;\n        color: black;\n        padding: 12px 16px;\n        text-decoration: none;\n        display: block;\n        text-align: right;\n    }\n\n    /* Add a dark background on topnav links and the dropdown button on hover */\n    .topnav a:hover,\n    .dropdown:hover .dropbtn {\n        background-color: #555;\n        color: white;\n    }\n\n    /* Add a grey background to dropdown links on hover */\n    .dropdown-content a:hover {\n        background-color: #ddd;\n        color: black;\n    }\n\n    /* Show the dropdown menu when the user moves the mouse over the dropdown button */\n    .dropdown:hover .dropdown-content {\n        display: block;\n    }\n\n    /* When the screen is less than 600 pixels wide, hide all links, except for the first one (\"Home\"). Show the link that contains should open and close the topnav (.icon) */\n    @media screen and (max-width: 600px) {\n\n        .topnav a:not(:first-child),\n        .dropdown .dropbtn {\n            display: none;\n        }\n\n        .topnav a.icon {\n            float: right;\n            display: block;\n        }\n    }\n\n    /* The \"responsive\" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */\n    @media screen and (max-width: 600px) {\n        .topnav.responsive {\n            position: relative;\n        }\n\n        .topnav.responsive a.icon {\n            position: absolute;\n            right: 0;\n            top: 0;\n        }\n\n        .topnav.responsive a {\n            float: none;\n            display: block;\n            text-align: right;\n        }\n\n        .topnav.responsive .dropdown {\n            float: none;\n        }\n\n        .topnav.responsive .dropdown-content {\n            position: relative;\n        }\n\n        .topnav.responsive .dropdown .dropbtn {\n            display: block;\n            width: 100%;\n            text-align: right;\n        }\n    }\n</style>\n\n</html>","output":"str","x":330,"y":260,"wires":[["99865728.f6ad48"]]},{"id":"9112d6e9.3f11d8","type":"http in","z":"89d70b47.759a08","name":"","url":"home_page","method":"get","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["9cdc9ed1.c1833"]]},{"id":"99865728.f6ad48","type":"http response","z":"89d70b47.759a08","name":"","statusCode":"","headers":{},"x":540,"y":260,"wires":[]},{"id":"e5312fdb.6623b","type":"http in","z":"89d70b47.759a08","name":"form","url":"form","method":"get","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["3d4ddb7.b080624"]]},{"id":"3dbfb482.d4246c","type":"http response","z":"89d70b47.759a08","name":"","statusCode":"","headers":{},"x":570,"y":380,"wires":[]},{"id":"3d4ddb7.b080624","type":"template","z":"89d70b47.759a08","name":"Form Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\"\n        integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n    <title></title>\n</head>\n\n<body>\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>\n\n    <div>\n        <nav class=\"navbar navbar-expand-md \">\n            <ul class=\"nav navbar-nav ml-auto\">\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">Contact Us</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9820210467</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9833285823</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9820210467</a>\n                </li>\n            </ul>\n        </nav>\n        \n        </br>\n            \n        \n        <div class=\"center\">\n            </br>\n            <h1>Warehouse Management System</h1>\n            </br>\n\n            <h5>Sales Prediction System that optimizes your Warehouse Managent</h5>\n            </br>\n            </br>\n            <div class=\"container\">\n  <form action=\"action_page.php\">\n    \n           </br>\n           </br>\n           </br>\n           </br>\n    <div class=\"row\">\n      <div class=\"col-25\">\n        <label for=\"country\">Select Product Category</label>\n      </div>\n      <div class=\"col-75\">\n        <select id=\"country\" name=\"country\">\n          <option value=\"australia\">Category1</option>\n          <option value=\"canada\">Category2</option>\n          <option value=\"usa\">Category2</option>\n        </select>\n      </div>\n    </div>\n    <div class=\"row\">\n      <div class=\"col-25\">\n        <label for=\"country\">Select Product</label>\n      </div>\n      <div class=\"col-75\">\n        <select id=\"country\" name=\"country\">\n          <option value=\"australia\">Product1</option>\n          <option value=\"canada\">Product2</option>\n          <option value=\"usa\">Product3</option>\n        </select>\n      </div>\n    </div>\n    <div class=\"row\">\n      <div class=\"col-25\">\n        <label for=\"country\">Time Period</label>\n      </div>\n      <div class=\"col-75\">\n        <select id=\"country\" name=\"country\">\n          <option value=\"australia\">Today</option>\n          <option value=\"canada\">10 Week</option>\n          <option value=\"usa\">Custom</option>\n        </select>\n      </div>\n    </div>\n</br>\n</br>\n\n    <label for=\"start\">Start date:</label>\n\n<input type=\"date\" id=\"start\" name=\"trip-start\"\n       value=\"2018-07-22\"\n       min=\"2018-01-01\" max=\"2018-12-31\">\n\n    <label for=\"start\">End date:</label>\n\n<input type=\"date\" id=\"start\" name=\"trip-start\"\n       value=\"2018-07-22\"\n       min=\"2018-01-01\" max=\"2018-12-31\">\n\n</br>\n\n           </br>\n           </br>\n          \n           \n    <div class=\"row\">\n      <input type=\"submit\" value=\"Submit\">\n\n           </br>\n           </br>\n          \n    </div>\n\n           </br>\n           </br>\n          \n  </form>\n</div>\n\n\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           </br>\n           \n\n           \n    </div>\n\n</body>\n\n<style>\n    label {\n    display: block;\n    font: 1rem 'Fira Sans', sans-serif;\n}\n\ninput,\nlabel {\n    margin: .4rem 0;\n}\n\n    form{\n        margin-right: 100px;\n        font-weight: bold;\n        font-size: large;\n    }\n    label{\n        color: black;\n    }\n    input[type=text], select, textarea{\n  width: 100%;\n  padding: 12px;\n  border: 1px solid #ccc;\n  border-radius: 4px;\n  box-sizing: border-box;\n  resize: vertical;\n}\n\n/* Style the label to display next to the inputs */\nlabel {\n  padding: 12px 12px 12px 0;\n  display: inline-block;\n}\n\n/* Style the submit button */\ninput[type=submit] {\n    margin-left: 10%;\n    width: 80%;\n  background-color:#21618C;\n  color: white;\n  padding: 12px 20px;\n  border: none;\n  border-radius: 4px;\n  cursor: pointer;\n  float: right;\n}\n\n/* Style the container */\n.container {\n  border-radius: 5px;\n  background-color: #f2f2f2;\n  padding: 20px;\n}\n\n/* Floating column for labels: 25% width */\n.col-25 {\n  float: left;\n  width: 25%;\n  margin-top: 6px;\n}\n\n/* Floating column for inputs: 75% width */\n.col-75 {\n  float: left;\n  width: 75%;\n  margin-top: 6px;\n}\n\n/* Clear floats after the columns */\n.row:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n\n/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */\n@media screen and (max-width: 600px) {\n  .col-25, .col-75, input[type=submit] {\n    width: 100%;\n    margin-top: 0;\n  }\n}\n    \n      .graph1{\n        width: 100%;\n        border-radius: 15px;\n    }\n    .graph{\n        width: 50%;\n        height: 50%;\n        border-radius: 15px;\n        opacity: 0.6;\n    }\n    .logo{\n        margin-left: 50px;\n        background-image: none;\n        width: 50%;\n    }\n    .img1 {\n        width: 100%\n    }\n    a{\n        color: white;\n    }\n\n    #btn1 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n        font-color:white;\n\n\n\n    }\n\n    #btn2 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n\n    }\n\n    h4 {\n        text-align: right;\n    }\n\n    .btn {\n        color: white;\n        border-width: 2px;\n    }\n\n    .btn:hover {\n        color: white;\n    }\n\n    body {\n        background-image: url(\"https://i.ya-webdesign.com/images/abstract-wave-png-3.png\");\n        background-color: white;\n        width: 100%;\n        height: auto;\n        background-repeat: no-repeat;\n        background-size: cover;\n        font-family: serif;\n    }\n\n    .center {\n        align-items: center;\n        color: white;\n        font-family: serif;\n        text-align: center;\n    }\n\n    h1 {\n        font-family: sans-serif;\n        font-weight: bold;\n        align: center;\n    }\n\n    h5 {\n        font-family: sans-serif;\n    }\n\n    .nav-link {\n        color: white;\n\n        font-family: serif;\n    }\n\n    .seoimg {\n        height: 50px;\n    }\n\n    .topnav {}\n\n    background-color: #333;\n    overflow: hidden;\n    }\n\n    /* Style the links inside the navigation bar */\n    .topnav a {\n        float: right;\n        display: block;\n        color: black;\n        text-align: center;\n        padding: 14px 16px;\n        text-decoration: none;\n        font-size: 17px;\n    }\n\n    /* Add an active class to highlight the current page */\n    .active {\n        background-color: #4CAF50;\n        color: white;\n    }\n\n    /* Hide the link that should open and close the topnav on small screens */\n    .topnav .icon {\n        display: none;\n    }\n\n    /* Dropdown container - needed to position the dropdown content */\n    .dropdown {\n        float: right;\n        overflow: hidden;\n    }\n\n    /* Style the dropdown button to fit inside the topnav */\n    .dropdown .dropbtn {\n        font-size: 17px;\n        border: none;\n        outline: none;\n        color: white;\n        padding: 14px 16px;\n        background-color: inherit;\n        font-family: inherit;\n        margin: 0;\n    }\n\n    /* Style the dropdown content (hidden by default) */\n    .dropdown-content {\n        display: none;\n        position: absolute;\n        background-color: #f9f9f9;\n        min-width: 160px;\n        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);\n        z-index: 1;\n    }\n\n    /* Style the links inside the dropdown */\n    .dropdown-content a {\n        float: none;\n        color: black;\n        padding: 12px 16px;\n        text-decoration: none;\n        display: block;\n        text-align: right;\n    }\n\n    /* Add a dark background on topnav links and the dropdown button on hover */\n    .topnav a:hover,\n    .dropdown:hover .dropbtn {\n        background-color: #555;\n        color: white;\n    }\n\n    /* Add a grey background to dropdown links on hover */\n    .dropdown-content a:hover {\n        background-color: #ddd;\n        color: black;\n    }\n\n    /* Show the dropdown menu when the user moves the mouse over the dropdown button */\n    .dropdown:hover .dropdown-content {\n        display: block;\n    }\n\n    /* When the screen is less than 600 pixels wide, hide all links, except for the first one (\"Home\"). Show the link that contains should open and close the topnav (.icon) */\n    @media screen and (max-width: 600px) {\n\n        .topnav a:not(:first-child),\n        .dropdown .dropbtn {\n            display: none;\n        }\n\n        .topnav a.icon {\n            float: right;\n            display: block;\n        }\n    }\n\n    /* The \"responsive\" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */\n    @media screen and (max-width: 600px) {\n        .topnav.responsive {\n            position: relative;\n        }\n\n        .topnav.responsive a.icon {\n            position: absolute;\n            right: 0;\n            top: 0;\n        }\n\n        .topnav.responsive a {\n            float: none;\n            display: block;\n            text-align: right;\n        }\n\n        .topnav.responsive .dropdown {\n            float: none;\n        }\n\n        .topnav.responsive .dropdown-content {\n            position: relative;\n        }\n\n        .topnav.responsive .dropdown .dropbtn {\n            display: block;\n            width: 100%;\n            text-align: right;\n        }\n    }\n</style>\n\n</html>","output":"str","x":330,"y":400,"wires":[["3dbfb482.d4246c"]]},{"id":"82eab579.809c38","type":"http in","z":"89d70b47.759a08","name":"learn_more","url":"learn_more","method":"get","upload":false,"swaggerDoc":"","x":130,"y":520,"wires":[["52883da5.70ff14"]]},{"id":"2030b07.7843d5","type":"http response","z":"89d70b47.759a08","name":"","statusCode":"","headers":{},"x":560,"y":540,"wires":[]},{"id":"52883da5.70ff14","type":"template","z":"89d70b47.759a08","name":"lear_more page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\"\n        integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n    <title></title>\n</head>\n\n<body>\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>\n\n    <div>\n        <nav class=\"navbar navbar-expand-md \">\n            <ul class=\"nav navbar-nav ml-auto\">\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">Contact Us</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9820210467</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9833285823</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9820210467</a>\n                </li>\n            </ul>\n        </nav>\n        \n      \n            \n        \n        <div class=\"center\">\n            </br>\n            <h1>Warehouse Management System</h1>\n            </br>\n\n            <h5>Sales Prediction System that optimizes your Warehouse Managent</h5>\n             </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n            \n            \n<button type=\"button\" class=\"btn btn-primary\"><a href=\"https://node-red-mcsnx.eu-gb.mybluemix.net/ui/#!/0?socketid=vbibLSXolpue4fLdAAAf\">Sales Prediction for Meat</a></button>\n</br>\n        </br>\n        </br><button type=\"button\" class=\"btn btn-primary\"><a href=\"https://node-red-zgmwz.eu-gb.mybluemix.net/ui/#!/0?socketid=Fnh85kTRjKJOj7cxAABJ\">Sales Prediction for Milk</a></button>\n        </br>\n\n        </br>\n        </br>\n<button type=\"button\" class=\"btn btn-primary\"><a href=\"https://node-red-zgmwz.eu-gb.mybluemix.net/ui/#!/0?socketid=Fnh85kTRjKJOj7cxAABJ\">Sales Prediction for Bread</a></button>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br></br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n\n\n\n    </div>\n\n</body>\n\n<style>\n    p{\n        color: black;\n        padding: 200px;\n\n    }\n      .graph1{\n        width: 100%;\n        border-radius: 15px;\n    }\n    .graph{\n        width: 50%;\n        height: 50%;\n        border-radius: 15px;\n        opacity: 0.6;\n    }\n    .logo{\n        margin-left: 50px;\n        background-image: none;\n        width: 50%;\n    }\n    .img1 {\n        width: 100%\n    }\n    a{\n        color: white;\n    }\n\n    #btn1 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n        font-color:white;\n\n\n\n    }\n\n    #btn2 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n\n    }\n\n    h4 {\n        text-align: right;\n    }\n\n    .btn {\n        color: white;\n        border-width: 2px;\n    }\n\n    .btn:hover {\n        color: white;\n    }\n\n    body {\n        background-image: url(\"https://i.ya-webdesign.com/images/abstract-wave-png-3.png\");\n        background-color: white;\n        width: 100%;\n        height: auto;\n        background-repeat: no-repeat;\n        background-size: cover;\n        font-family: serif;\n    }\n\n    .center {\n        align-items: center;\n        color: white;\n        font-family: serif;\n        text-align: center;\n    }\n\n    h1 {\n        font-family: sans-serif;\n        font-weight: bold;\n        align: center;\n    }\n\n    h5 {\n        font-family: sans-serif;\n    }\n\n    .nav-link {\n        color: white;\n\n        font-family: serif;\n    }\n\n    .seoimg {\n        height: 50px;\n    }\n\n    .topnav {}\n\n    background-color: #333;\n    overflow: hidden;\n    }\n\n    /* Style the links inside the navigation bar */\n    .topnav a {\n        float: right;\n        display: block;\n        color: black;\n        text-align: center;\n        padding: 14px 16px;\n        text-decoration: none;\n        font-size: 17px;\n    }\n\n    /* Add an active class to highlight the current page */\n    .active {\n        background-color: #4CAF50;\n        color: white;\n    }\n\n    /* Hide the link that should open and close the topnav on small screens */\n    .topnav .icon {\n        display: none;\n    }\n\n    /* Dropdown container - needed to position the dropdown content */\n    .dropdown {\n        float: right;\n        overflow: hidden;\n    }\n\n    /* Style the dropdown button to fit inside the topnav */\n    .dropdown .dropbtn {\n        font-size: 17px;\n        border: none;\n        outline: none;\n        color: white;\n        padding: 14px 16px;\n        background-color: inherit;\n        font-family: inherit;\n        margin: 0;\n    }\n\n    /* Style the dropdown content (hidden by default) */\n    .dropdown-content {\n        display: none;\n        position: absolute;\n        background-color: #f9f9f9;\n        min-width: 160px;\n        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);\n        z-index: 1;\n    }\n\n    /* Style the links inside the dropdown */\n    .dropdown-content a {\n        float: none;\n        color: black;\n        padding: 12px 16px;\n        text-decoration: none;\n        display: block;\n        text-align: right;\n    }\n\n    /* Add a dark background on topnav links and the dropdown button on hover */\n    .topnav a:hover,\n    .dropdown:hover .dropbtn {\n        background-color: #555;\n        color: white;\n    }\n\n    /* Add a grey background to dropdown links on hover */\n    .dropdown-content a:hover {\n        background-color: #ddd;\n        color: black;\n    }\n\n    /* Show the dropdown menu when the user moves the mouse over the dropdown button */\n    .dropdown:hover .dropdown-content {\n        display: block;\n    }\n\n    /* When the screen is less than 600 pixels wide, hide all links, except for the first one (\"Home\"). Show the link that contains should open and close the topnav (.icon) */\n    @media screen and (max-width: 600px) {\n\n        .topnav a:not(:first-child),\n        .dropdown .dropbtn {\n            display: none;\n        }\n\n        .topnav a.icon {\n            float: right;\n            display: block;\n        }\n    }\n\n    /* The \"responsive\" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */\n    @media screen and (max-width: 600px) {\n        .topnav.responsive {\n            position: relative;\n        }\n\n        .topnav.responsive a.icon {\n            position: absolute;\n            right: 0;\n            top: 0;\n        }\n\n        .topnav.responsive a {\n            float: none;\n            display: block;\n            text-align: right;\n        }\n\n        .topnav.responsive .dropdown {\n            float: none;\n        }\n\n        .topnav.responsive .dropdown-content {\n            position: relative;\n        }\n\n        .topnav.responsive .dropdown .dropbtn {\n            display: block;\n            width: 100%;\n            text-align: right;\n        }\n    }\n</style>\n\n</html>","output":"str","x":340,"y":560,"wires":[["2030b07.7843d5"]]},{"id":"ed48c57b.9a6e48","type":"http in","z":"89d70b47.759a08","name":"","url":"excel","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["54626c91.02a064"]]},{"id":"f101269d.920208","type":"http response","z":"89d70b47.759a08","name":"","statusCode":"","headers":{},"x":500,"y":200,"wires":[]},{"id":"54626c91.02a064","type":"template","z":"89d70b47.759a08","name":"excel","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\"\n        integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n    <title></title>\n</head>\n\n<body>\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>\n\n    <div>\n        <nav class=\"navbar navbar-expand-md \">\n            <ul class=\"nav navbar-nav ml-auto\">\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">Contact Us</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9820210467</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9833285823</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">9820210467</a>\n                </li>\n            </ul>\n        </nav>\n        \n    \n        \n        <div class=\"center\">\n <section class=\"page-section mt-5\" id=\"blog\">\n                    <div class=\"container\">\n                        <div class=\"text-center\">\n                            <h2 class=\"section-heading text-uppercase\">PRODUCTS</h2>\n                            <h3 class=\"section-subheading text-muted\">Available Today!</h3>\n                                    </br>\n\n                                   \n\n\n                                    </br>\n\n\n\n                                    </br>\n\n\n                                    </br>\n\n\n                                    </br>\n\n\n\n                        </div>\n                        <div class=\"row\">\n                            <div class=\"col-12 col-lg-4\">\n                                <div class=\"card mb-4 shadow color\">\n                                    <div class=\"card-body \">\n                                        <div class=\"ribbon text font-weight-bold\">MILK</div>\n                                    </br>\n                                    </br>\n                                    </br>\n\n                                        <article>\n                                            <header class=\"mb-2\">\n                                                \n                                            </header>\n                                           <img src=\"https://www.abc.net.au/cm/rimage/11231980-3x2-xlarge.jpg?v=2\" class=\"img1\">\n                                            <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSfT6f3SPCyS2GeIMkOxTsIcjBKV59OQ5MyjT7q_MwN8Tb9xLQ/viewform\"\n                                                class=\"btn btn-color\">Buy Product</a>\n                                        </article>\n                                    </div>\n                                </div>\n                            </div>\n                            <!---End of card-->\n                            <div class=\"col-12 col-lg-4\">\n                                <div class=\"card mb-4 shadow color\">\n                                    <div class=\"card-body \">\n                                        <img src=\"https://previews.123rf.com/images/belchonock/belchonock1802/belchonock180243033/95750322-packed-pieces-of-pork-and-beef-meat-isolated-on-white.jpg\" class=\"card-img-top\">\n                                        <div class=\"ribbon text font-weight-bold\">MEAT</div>\n                                        <article></br>\n                                        </br>\n                                        </br>\n                                        \n\n\n                                            \n                                            <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSfT6f3SPCyS2GeIMkOxTsIcjBKV59OQ5MyjT7q_MwN8Tb9xLQ/viewform\"\n                                                class=\"btn btn-color\">Buy Product</a>\n                                        </article>\n                                    </div>\n                                </div>\n                            </div>\n                            <!---End of card-->\n                            <div class=\"col-12 col-lg-4\">\n                                <div class=\"card mb-4 shadow color\">\n                                    <div class=\"card-body \">\n                                    </br>\n                                    </br>\n                                    </br>\n\n                                        <img src=\"https://i2-prod.mirror.co.uk/incoming/article7559668.ece/ALTERNATES/s615b/Loaf-of-white-sliced-bread.jpg\" class=\"card-img-top\">\n                                        <div class=\"ribbon text font-weight-bold\">BREAD</div>\n                                        <article>\n                                          \n                                           \n                                            <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSfT6f3SPCyS2GeIMkOxTsIcjBKV59OQ5MyjT7q_MwN8Tb9xLQ/viewform\"\n                                                class=\"btn btn-color\">Buy Product</a>\n                                        </article>\n                                    </div>\n                                </div>\n                            </div>\n                            <!---End of card-->\n                        </div>\n                </section>\n        \n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n        </br>\n\n\n\n    </div>\n\n</body>\n\n<style>\n    /* Blog Section */\n.ribbon{\n    width: 100px;\n    height: 100px;\n    margin: -10px auto;\n    background: #f0d803; \n    position: absolute;\n    top: 0;\n    right:0;\n}\n.ribbon:before{\n    content:\"\";\n    position: absolute;\n    bottom: -30px;\n    left: 0;\n    border-left: 75px solid #f0d803;\n    border-top: 30px solid transparent;\n    border-bottom: 30px solid transparent;\n}\n.ribbon:after{\n    content:\"\";\n    position: absolute;\n    bottom: -30px;\n    right: 0;\n    border-right: 75px solid #f0d803;\n    border-top: 30px solid transparent;\n    border-bottom: 30px solid transparent;\n\n}\n.text{\n    text-align: center;\n    \n}\n.btn-color{\n    background: #f0d803;\n}\n\n\n/*End of Blog Section*/\n    p{\n        color: black;\n        padding: 200px;\n\n    }\n      .graph1{\n        width: 100%;\n        border-radius: 15px;\n    }\n    .graph{\n        width: 50%;\n        height: 50%;\n        border-radius: 15px;\n        opacity: 0.6;\n    }\n    .logo{\n        margin-left: 50px;\n        background-image: none;\n        width: 50%;\n    }\n    .img1 {\n        width: 100%\n    }\n    a{\n        color: white;\n    }\n\n    #btn1 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n        font-color:white;\n\n\n\n    }\n\n    #btn2 {\n        color: white;\n        border-radius: 5px;\n        border-color: white;\n        font-family: sans-serif;\n\n    }\n\n    h4 {\n        text-align: right;\n    }\n\n    .btn {\n        color: white;\n        border-width: 2px;\n    }\n\n    .btn:hover {\n        color: white;\n    }\n\n    body {\n        background-image: url(\"https://i.ya-webdesign.com/images/abstract-wave-png-3.png\");\n        background-color: white;\n        width: 100%;\n        height: auto;\n        background-repeat: no-repeat;\n        background-size: cover;\n        font-family: serif;\n    }\n\n    .center {\n        align-items: center;\n        color: white;\n        font-family: serif;\n        text-align: center;\n    }\n\n    h1 {\n        font-family: sans-serif;\n        font-weight: bold;\n        align: center;\n    }\n\n    h5 {\n        font-family: sans-serif;\n    }\n\n    .nav-link {\n        color: white;\n\n        font-family: serif;\n    }\n\n    .seoimg {\n        height: 50px;\n    }\n\n    .topnav {}\n\n    background-color: #333;\n    overflow: hidden;\n    }\n\n    /* Style the links inside the navigation bar */\n    .topnav a {\n        float: right;\n        display: block;\n        color: black;\n        text-align: center;\n        padding: 14px 16px;\n        text-decoration: none;\n        font-size: 17px;\n    }\n\n    /* Add an active class to highlight the current page */\n    .active {\n        background-color: #4CAF50;\n        color: white;\n    }\n\n    /* Hide the link that should open and close the topnav on small screens */\n    .topnav .icon {\n        display: none;\n    }\n\n    /* Dropdown container - needed to position the dropdown content */\n    .dropdown {\n        float: right;\n        overflow: hidden;\n    }\n\n    /* Style the dropdown button to fit inside the topnav */\n    .dropdown .dropbtn {\n        font-size: 17px;\n        border: none;\n        outline: none;\n        color: white;\n        padding: 14px 16px;\n        background-color: inherit;\n        font-family: inherit;\n        margin: 0;\n    }\n\n    /* Style the dropdown content (hidden by default) */\n    .dropdown-content {\n        display: none;\n        position: absolute;\n        background-color: #f9f9f9;\n        min-width: 160px;\n        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);\n        z-index: 1;\n    }\n\n    /* Style the links inside the dropdown */\n    .dropdown-content a {\n        float: none;\n        color: black;\n        padding: 12px 16px;\n        text-decoration: none;\n        display: block;\n        text-align: right;\n    }\n\n    /* Add a dark background on topnav links and the dropdown button on hover */\n    .topnav a:hover,\n    .dropdown:hover .dropbtn {\n        background-color: #555;\n        color: white;\n    }\n\n    /* Add a grey background to dropdown links on hover */\n    .dropdown-content a:hover {\n        background-color: #ddd;\n        color: black;\n    }\n\n    /* Show the dropdown menu when the user moves the mouse over the dropdown button */\n    .dropdown:hover .dropdown-content {\n        display: block;\n    }\n\n    /* When the screen is less than 600 pixels wide, hide all links, except for the first one (\"Home\"). Show the link that contains should open and close the topnav (.icon) */\n    @media screen and (max-width: 600px) {\n\n        .topnav a:not(:first-child),\n        .dropdown .dropbtn {\n            display: none;\n        }\n\n        .topnav a.icon {\n            float: right;\n            display: block;\n        }\n    }\n\n    /* The \"responsive\" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */\n    @media screen and (max-width: 600px) {\n        .topnav.responsive {\n            position: relative;\n        }\n\n        .topnav.responsive a.icon {\n            position: absolute;\n            right: 0;\n            top: 0;\n        }\n\n        .topnav.responsive a {\n            float: none;\n            display: block;\n            text-align: right;\n        }\n\n        .topnav.responsive .dropdown {\n            float: none;\n        }\n\n        .topnav.responsive .dropdown-content {\n            position: relative;\n        }\n\n        .topnav.responsive .dropdown .dropbtn {\n            display: block;\n            width: 100%;\n            text-align: right;\n        }\n    }\n</style>\n\n</html>","output":"str","x":310,"y":200,"wires":[["f101269d.920208"]]},{"id":"6b4e3f9c.ef002","type":"function","z":"89d70b47.759a08","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"PJCA8RbDM6tEhA2g7h919F3c0d--ZvefgvBz6FJmzsAc\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":840,"wires":[["b47a0d16.f8091"]]},{"id":"b47a0d16.f8091","type":"http request","z":"89d70b47.759a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":828.9999952316284,"wires":[["143a8682.7d0269"]]},{"id":"79c0b54e.70102c","type":"inject","z":"89d70b47.759a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105.5,"y":753.9999980926514,"wires":[["6b4e3f9c.ef002"]]},{"id":"2d3287c1.e38028","type":"debug","z":"89d70b47.759a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":570.999997138977,"wires":[]},{"id":"143a8682.7d0269","type":"function","z":"89d70b47.759a08","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"fa55173b-9ca1-468d-9965-33e0de7948e2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Enter the no.of months\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":780,"wires":[["12d93a58.8f75e6"]]},{"id":"12d93a58.8f75e6","type":"http request","z":"89d70b47.759a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fa55173b-9ca1-468d-9965-33e0de7948e2/deployments/2efd8b07-61ed-412b-af22-ec7017f55393/online","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":740,"wires":[["a06ae99d.024c28"]]},{"id":"edecc9d6.310018","type":"ui_form","z":"89d70b47.759a08","name":"","label":"Prediction System","group":"21408378.611f6c","order":0,"width":0,"height":0,"options":[{"label":"Enter the no.of months","value":"ye","type":"text","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Sale Prediction","x":90,"y":880,"wires":[["6b4e3f9c.ef002"]]},{"id":"83d74cfa.41aa6","type":"ui_text","z":"89d70b47.759a08","group":"21408378.611f6c","order":1,"width":0,"height":0,"name":"","label":"EXPECTED QUANTITY REQUIRED","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":660,"wires":[]},{"id":"a06ae99d.024c28","type":"function","z":"89d70b47.759a08","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":631.600001335144,"wires":[["2d3287c1.e38028","83d74cfa.41aa6"]]},{"id":"21408378.611f6c","type":"ui_group","z":"","name":"Default","tab":"6feb99e.3b2ed68","order":2,"disp":true,"width":"6","collapse":false},{"id":"6feb99e.3b2ed68","type":"ui_tab","z":"","name":"Sales Prediction","icon":"form","disabled":false,"hidden":false}]